<app-navbar logoColor="purple" crumbs="Inicio"></app-navbar>
<div class="row content w-100 m-0 bgf-blue">
    <div class="col main">
        <div class="row animated bounceInLeft fast">
            <div class="col-12 col-md-10 col-lg-8 mx-auto pt-5">
                <img class="img-fluid d-none d-sm-inline-block" src="assets/images/home/homeDesktop.jpg">
                <img class="img-fluid d-sm-none" src="assets/images/home/homeMobile.jpg">
            </div>
        </div>
        <div class="row">
            <div class="col-9 col-md-8 col-lg-4 mx-auto pt-5">
                <a routerLink="/formulario">
                    <img class="img-fluid animated bounceInRight fast" src="assets/images/home/empezar.png">
                </a>
            </div>
        </div>
    </div>
</div>