.result {
    max-height: 400px !important;
}

.play-again {
    font-family: 'Kalam Bold';
    cursor: pointer;
    font-size: 50px !important;
    color: white;
}

.red-text {
    color: rgb(230, 79, 58) !important;
}

@media (max-height: 768px) {
    .play-again {
        font-size: 26px !important;
    }
}