.result {
    max-height: 400px !important;
}

.play-again {
    font-family: 'Kalam Bold';
    cursor: pointer;
    font-size: 46px !important;
    color: white;
    text-shadow: 2px 2px 0 rgb(230, 79, 58), 2px -2px 0 rgb(230, 79, 58), -2px 2px 0 rgb(230, 79, 58), -2px -2px 0 rgb(230, 79, 58), 2px 0px 0 rgb(230, 79, 58), 0px 2px 0 rgb(230, 79, 58), -2px 0px 0 rgb(230, 79, 58), 0px -2px 0 rgb(230, 79, 58), 2px 2px 2px rgba(206,89,55,0);
}

@media (max-height: 768px) {
    .play-again {
        font-size: 26px !important;
    }
}